<script>
  import { change_route_to, LOAD_EXP, MAIN_ROOT } from "../router/router";
  import { Exp } from "../utils/Exp";
  import { curr_res } from "../store/expres";
  import { onMount } from "svelte";

  onMount(() => {
    if (window.localStorage.getItem("exp")) {
      change_route_to(MAIN_ROOT);
    }
  });

  let lieu = "";

  const handle_submit = (e) => {
    const current_date = new Date();
    const h_m = `${current_date.getHours()}h${current_date.getMinutes()}`;
    const exp = new Exp(lieu, new Date().toISOString(), h_m);
    curr_res.set(exp);
    window.localStorage.setItem("exp", exp.toJson());
    change_route_to(MAIN_ROOT);
  };

  const handle_load = () => {
    change_route_to(LOAD_EXP);
  };
</script>

<div class="content">
  <p>Creer une experience</p>
  <form on:submit|preventDefault={handle_submit}>
    <label for="lieu">Lieu de l'experience</label>
    <input
      name="lieu"
      type="text"
      bind:value={lieu}
      placeholder="cite scientifique"
    />
    <input type="submit" value="submit" />
  </form>

  <div class="bouton">
    <p on:click|preventDefault={handle_load}>
      Ou charger une experience deja commencer:
    </p>
  </div>
</div>

<style>
  .content {
    padding: 5px;
  }
  .bouton {
    background: #fff;
    color: #1b2028;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
  }
</style>
