<script>
  import { change_route_to, MAIN_ROOT } from "../router/router";
  import { Exp } from "../utils/Exp";
  import { curr_res } from "../store/expres";
  import { onMount } from "svelte";
  import ReadFromInput from "../component/ReadFromInput.svelte";

  onMount(() => {
    if (window.localStorage.getItem("exp")) {
      change_route_to(MAIN_ROOT);
    }
  });

  let lieu = "";

  const handle_file = (file) => {
    const exp = Exp.from_string_json(file);
    curr_res.set(exp);
    window.localStorage.setItem("exp", exp.toJson());
    change_route_to(MAIN_ROOT);
  };
</script>

<p>Reprendre une experience:</p>

<ReadFromInput handle_file_read={handle_file} />
