<script>
  import { onMount } from "svelte";

  import Bouton from "../component/Bouton.svelte";
  import DownloadFile from "../component/DownloadFile.svelte";
  import ReadFromInput from "../component/ReadFromInput.svelte";

  import { change_route_to, CREATE_NEW_EXP } from "../router/router";
  import { curr_res, curr_slot } from "../store/expres";

  onMount(() => {
    if (!window.localStorage.getItem("exp")) {
      change_route_to(CREATE_NEW_EXP);
    }
    set_and_filecontent();
  });

  let filecontent = "nodata";

  $: {
    curr_slot?.set($curr_res?.get_current_slot());
  }

  const set_and_filecontent = () => {
    curr_slot?.set($curr_res?.get_current_slot());
    filecontent = $curr_res?.toJson();
  };

  const new_slots = () => {
    $curr_res.create_new_slots();
    set_and_filecontent();
  };

  const tenir_porte = () => {
    $curr_res.add_to_slots(1);
    set_and_filecontent();
  };

  const pas_tenir_porte = () => {
    $curr_res.add_to_slots(0);
    set_and_filecontent();
  };

  const handle_reset_value = () => {
    const conf = window.confirm(
      "Voulez vous vraiment remettre a zero l'experience ?"
    );
    if (!conf) return;

    window.localStorage.removeItem("exp");
    change_route_to(CREATE_NEW_EXP);
  };
</script>

<div class="main">
  {#if $curr_res}
    <p>Lieu de l'experience: {$curr_res.lieu}</p>
  {/if}

  <div class="bouton">
    <Bouton text="New slots" callback={new_slots} />
    <Bouton
      text="A tenu la porte"
      callback={tenir_porte}
      image="/images/hold.png"
    />
    <Bouton
      text="N'a pas tenu la porte"
      callback={pas_tenir_porte}
      image="/images/unhold.png"
    />
  </div>

  <div class="current-slot-results">
    <p>Les resultats du slot courant</p>
    <div class="each-slot">
      {#if $curr_slot}
        {#each $curr_slot as slot}
          <img
            src={`/images/${slot ? "" : "un"}hold.png`}
            alt={`${slot ? "" : "un"}hold`}
            class="res"
          />
        {/each}
      {/if}
    </div>
  </div>

  <DownloadFile {filecontent} />

  <div class="bouton-leave">
    <p on:click|preventDefault={handle_reset_value}>
      Quitter cette experience (et perdre les donnees avec) pour en creer une
      nouvelle!
    </p>
  </div>
</div>

<style>
  .main {
    padding: 5px;
  }

  .bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .current-slot-results > .each-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  img.res {
    height: 45px;
    margin: 20px;
  }

  .bouton-leave {
    padding: 5px 15px;
    background: rgb(194, 194, 194);
    color: #1b2028;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
</style>
