<script>
  import { onMount } from "svelte";

  import { change_route_to, LOAD_EXP } from "../router/router";
  import { load_res } from "../store/expres";
  import LoadExp from "./LoadExp.svelte";

  import ReadFromInput from "../component/ReadFromInput.svelte";
  import { Exp } from "../utils/Exp";

  const handle_file = (file) => {
    load_res.set(Exp.from_string_json(file, false));
  };
</script>

<div class="content">
  <p>Resultat d'une experience</p>
  <ReadFromInput handle_file_read={handle_file} />

  {#if $load_res}
    <h1>Les resultats d'une experience</h1>
    <p>Lieu: {$load_res.lieu}</p>
    <p>Date: {new Date($load_res.date).toDateString()}</p>
    <p>Debut: {$load_res.heure_debut} -> Fin: {$load_res.heure_fin}</p>
    <p>Slots:</p>
    <div class="all-slots">
      {#each $load_res.slots as slot, idx}
        <div class="each-slot-full">
          <p>Slot num: {idx + 1}</p>
          <div class="each-slot">
            {#each slot as item}
              <img
                src={`/images/${item ? "" : "un"}hold.png`}
                alt={`${slot ? "" : "un"}hold`}
                class="res"
              />
            {/each}
          </div>
          <p>Total participant du slot: {slot.length}</p>
          <p>
            Total ayant tenu la porte: {slot.reduce(
              (pre, curr) => pre + curr,
              0
            )}
          </p>
          <p>
            Total n'ayany pas tenu la porte: {slot.length -
              slot.reduce((pre, curr) => pre + curr, 0)}
          </p>
        </div>
      {/each}
    </div>
  {/if}
</div>

<style>
  .content {
    padding: 5px;
  }
  .each-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .each-slot-full {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
  }

  img.res {
    height: 45px;
    margin: 20px;
  }
</style>
