<script>
  export let text = "";
  export let callback;
  export let prim_s_th = "prim";
  export let image = null;
</script>

<button
  class={`bouton ${prim_s_th}`}
  type="bouton"
  on:click|preventDefault|stopPropagation={callback}
>
  {#if image}
    <img src={image} alt="im" />
  {/if}
  <p>{text}</p>
</button>

<style>
  button {
    background: #fff;
    color: #1b2028;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 43px;
    margin: 7px;
  }
  img {
    height: 30px;
    margin: 0px 10px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .prim {
  }

  .second {
  }

  .third {
  }
</style>
