<script>
  import { onMount } from "svelte";

  import { curr_res } from "../store/expres";

  const get_current_date = (date) => {
    return `${date.getDate()}-${
      date.getMonth() + 1
    }-${date.getFullYear()}-${date.getHours()}h${date.getMinutes()}`;
  };
  export let filename = `data-${get_current_date(new Date())}.json`;
  export let filecontent = "nodata";

  onMount(() => {
    filename = `${
      $curr_res == null ? "data" : $curr_res.lieu.replace(/ /gm, "-")
    }-${get_current_date(new Date())}.json`;
  });
</script>

<div class="download-all">
  <div class="bouton">
    <a
      href={`data:text/plain;charset=utf-8,${window.encodeURIComponent(
        filecontent
      )}`}
      download={filename}
    >
      <p>Telecharger votre fichier de donnees courant</p>
    </a>
  </div>

  <div class="inputer">
    <label for="filename">Nom du fichier: </label>
    <input bind:value={filename} type="text" name="filename" />
  </div>
</div>

<style>
  .download-all {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 15px auto;
  }

  .bouton {
    background: #fff;
    color: #1b2028;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
  }
  a,
  a:visited {
    color: #1b2028;
  }

  .inputer {
    display: flex;
    flex-direction: column;
  }

  .inputer label {
    margin: 10px 0;
  }
</style>
