<script>
  import {
    change_route_to,
    CREATE_NEW_EXP,
    LOAD_EXP,
    MAIN_ROOT,
    RES_EXP,
  } from "../router/router";

  import { fade } from "svelte/transition";
  import { quintOut } from "svelte/easing";

  let menu_open = false;

  const home = () => {
    change_route_to(MAIN_ROOT);
    menu_open = false;
  };

  const load = () => {
    if (window.localStorage.getItem("res")) {
      const conf = window.confirm(
        "Voulez vous vraiment charger une autre experience et perdre celle en cours ?"
      );
      if (!conf) return;
    }

    window.localStorage.removeItem("exp");
    change_route_to(LOAD_EXP);
    menu_open = false;
  };

  const create = () => {
    if (window.localStorage.getItem("res")) {
      const conf = window.confirm(
        "Voulez vous vraiment creer une autre experience et perdre celle en cours ?"
      );
      if (!conf) return;
    }

    window.localStorage.removeItem("exp");
    change_route_to(CREATE_NEW_EXP);
    menu_open = false;
  };

  const result = () => {
    change_route_to(RES_EXP);
    menu_open = false;
  };
</script>

<header class="fixed">
  {#if !menu_open}
    <div class="little-menu">
      <div class="open-menu menu-icon" on:click={() => (menu_open = true)}>
        <div class="bar" />
        <div class="bar" />
        <div class="bar" />
      </div>

      <div class="list-item">
        <div class="home" on:click={home}>
          <img src="/images/house.png" alt="home" />
        </div>
        <div class="load" on:click={load}>
          <img src="/images/upload.png" alt="load" />
        </div>
        <div class="create" on:click={create}>
          <img src="/images/writing.png" alt="create" />
        </div>
        <div class="res" on:click={result}>
          <img src="/images/notepad2.png" alt="result" />
        </div>
      </div>
    </div>
  {/if}

  {#if menu_open}
    <div class="big-menu" in:fade={{ delay: 0, duration: 300 }}>
      <div class="close-menu menu-icon" on:click={() => (menu_open = false)}>
        <div class="bar b1" />
        <div class="bar b2" />
      </div>

      <div class="list-item">
        <div class="home" on:click={home}>
          <img src="/images/house.png" alt="home" />
          Acceuil
        </div>
        <div class="load" on:click={load}>
          <img src="/images/upload.png" alt="load" />
          Charger une experience
        </div>
        <div class="create" on:click={create}>
          <img src="/images/writing.png" alt="create" />
          Creer une experience
        </div>
        <div class="res" on:click={result}>
          <img src="/images/notepad2.png" alt="result" />
          Resultat d'une experience
        </div>
      </div>
    </div>
  {/if}

  <div class="big-bar" />
</header>

<header class="low">
  {#if !menu_open}
    <div class="little-menu">
      <div class="open-menu menu-icon" on:click={() => (menu_open = true)}>
        <div class="bar" />
        <div class="bar" />
        <div class="bar" />
      </div>

      <div class="list-item">
        <div class="home" on:click={home}>
          <img src="/images/house.png" alt="home" />
        </div>
        <div class="load" on:click={load}>
          <img src="/images/upload.png" alt="load" />
        </div>
        <div class="create" on:click={create}>
          <img src="/images/writing.png" alt="create" />
        </div>
        <div class="res" on:click={result}>
          <img src="/images/notepad2.png" alt="result" />
        </div>
      </div>
    </div>
  {/if}

  {#if menu_open}
    <div class="big-menu" in:fade={{ delay: 0, duration: 300 }}>
      <div class="close-menu menu-icon" on:click={() => (menu_open = false)}>
        <div class="bar b1" />
        <div class="bar b2" />
      </div>

      <div class="list-item">
        <div class="home" on:click={home}>
          <img src="/images/house.png" alt="home" />
          Acceuil
        </div>
        <div class="load" on:click={load}>
          <img src="/images/upload.png" alt="load" />
          Charger une experience
        </div>
        <div class="create" on:click={create}>
          <img src="/images/writing.png" alt="create" />
          Creer une experience
        </div>
        <div class="res" on:click={result}>
          <img src="/images/notepad2.png" alt="result" />
          Resultat d'une experience
        </div>
      </div>
    </div>
  {/if}

  <div class="big-bar" />
</header>

<style>
  header.fixed {
    position: fixed;
    height: 100%;
  }

  header.low {
    opacity: 0;
  }
  header {
    padding: 10px;
    margin: 0 15px 0 5px;
    display: flex;
    flex-direction: row;
  }

  .big-menu {
    min-width: 250px;
  }

  .menu-icon {
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-icon:active {
    transform: scale(0.9);
  }

  .big-bar {
    margin: auto 0px auto 25px;
    height: 75%;
    width: 3px;
    border-radius: 5px;
    background-color: #fff;
  }

  .little-menu,
  .big-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-item {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big-menu .list-item {
    align-items: flex-start;
  }

  .list-item div {
    margin: 15px 0;
    cursor: pointer;
  }

  .big-menu .list-item div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-item img {
    filter: invert(100%);
    height: 30px;
    width: auto;
    cursor: pointer;
  }

  .big-menu .list-item img {
    margin: auto 15px;
  }

  .menu-icon {
    height: 40px;
    width: 40px;
    margin: 15px auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .menu-icon > .bar {
    height: 5px;
    width: 95%;
    background: #fff;
    border-radius: 5px;
  }

  .close-menu {
    max-width: 100vw;
  }

  .close-menu .bar.b1 {
    transform: rotate(40deg) translate(5px, 5px);
  }

  .close-menu .bar.b2 {
    transform: rotate(-40deg) translate(5px, -5px);
  }
</style>
