<script>
  export let handle_file_read = () => {};

  const handle_change = (e) => {
    const files = e.target.files;

    for (const file of files) {
      const reader = new FileReader();
      reader.onload = (() => {
        return (e) => handle_file_read(e.target.result);
      })();

      reader.readAsText(file);
    }
  };

  let input_ref;
</script>

<div class="bouton" on:click={() => input_ref.click()}>
  <img src="/images/upload.png" alt="load" />
  <p>Charger votre fichier</p>
</div>

<input
  bind:this={input_ref}
  on:change={handle_change}
  id="upload"
  type="file"
  accept="application/json, text/plain"
  name="files[]"
/>

<style>
  .bouton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: underline;
    background-color: #fff;
    color: #1b2028;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
  }

  .bouton:active {
    transform: scale(0.9);
    opacity: 0.8;
    border-radius: 2px;
  }

  .bouton img {
    height: 30px;
    margin: auto 10px;
    width: auto;
  }

  input {
    display: none;
  }
</style>
