<script>
  import { current_component } from "./router/router.js";
  import Header from "./component/Header.svelte";
</script>

<div class="content">
  <Header />
  <main>
    <svelte:component this={$current_component.component} />
  </main>
</div>

<style>
  .content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  main {
    width: 100%;
  }
</style>
